<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Slab" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
      <a class="navbar-brand" href="/">Wikinimous</a>
      <span class="navbar-text">
        <a href="/articles/new">New Article</a>
      </span>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
